<%- include('includes/head.ejs') %>
<head>
	<body>
		<%- include('includes/navigation.ejs') %>

		<div class="text-center mt-5">
			<h1>Some error occured!</h1>
			<h3>We are working to fix this issue, sorry for the inconvenience</h3>
		</div>
		<%- include('includes/end.ejs') %>
	</body>
</head>
